@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto+Slab&display=swap");

:root {
  --color-text: #eeeeee;
  --color-border: #787a91;
}

/* Contact Section */
/* ------------------------------------------- */
.getInTouch {
  text-align: center;
  padding-top: 5%;
}
.contactHeading {
  font-size: 3rem;
  margin-bottom: 0%;
}
.contactBody {
  font-size: 1.5rem;
  margin-top: 0%;
}
.contact {
  background-color: black;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

/* Footer Section */
/* ------------------------------------------- */

.footer-text {
  text-align: center;
}
