@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto+Slab&display=swap");

:root {
  --color-text: #eeeeee;
  --color-border: #787a91;
}

/* Greeting */
/* ------------------------------------------- */
.greetings {
  color: var(--color-text);
  padding-top: 20%;
  padding-left: 20%;
  padding-bottom: 25%;
  display: flex;
  flex-direction: column;
}
.hello {
  font-size: 2rem;
  margin: 0%;
  padding: 0%;
}
.name {
  font-size: 4rem;
  margin: 0%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.tag {
  font-size: 3rem;
  margin: 0%;
  padding: 0%;
}

/* About Section */
/* ------------------------------------------- */
.about-heading {
  font-size: 2rem;
  padding-left: 15%;
}
.about__row {
  align-items: center;
}
.row {
  display: flex;
  margin: 20px 80px 80px;
  flex-wrap: wrap;
  align-content: stretch;
}
.col {
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}
.about__text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
  font-size: 2rem;
}

.my-pic {
  max-width: 95%;
  display: inline-block;
  vertical-align: middle;
  padding-right: 0;
  margin: 0 0 0 10px;
  border: 2px solid var(--color-border);
  border-radius: 8px;
  box-shadow: 10px 10px 5px var(--color-border);
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .about__text-wrapper {
    padding-bottom: 65px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}

/* Contact Section */
/* ------------------------------------------- */
.getInTouch {
  text-align: center;
  padding-top: 5%;
}
.contactHeading {
  font-size: 3rem;
  margin-bottom: 0%;
}
.contactBody {
  font-size: 1.5rem;
  margin-top: 0%;
}
.contact {
  background-color: black;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

/* Footer Section */
/* ------------------------------------------- */

.footer-text {
  text-align: center;
}
